.btns {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  padding: 0.625rem 1rem;
  max-width: 20rem;

  &--small {
    margin: 0;
  }
}

.btn {
  min-width: 6rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-on-primary);
  background-color: var(--color-secondary);

  &--small {
    padding: 0.5rem;
    min-width: 4rem;
    font-size: 0.75rem;
  }
}
