.form {
  padding: 1.5rem 1rem;
  margin: 0 7.5vw;

  &__section {
    padding: 1rem 0;

    &__title {
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
      color: var(--color-secondary);
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: .625rem 1rem;
    border: 1px solid var(--color-form-field-border);

    &:focus-within {
      border-color: var(--color-secondary)
    }
  }

  &__input {
    &:focus-visible {
      outline: none;
    }
  }

  &__label {
    font-size: .875rem;
    margin-bottom: .3rem;
  }

  &__btns {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    padding: .625rem 1rem;

    &--small {
      margin: 0;
    }
  }

  &__btn {
    min-width: 6rem;
    padding: .75rem;
    font-size: .875rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-on-primary);
    background-color: var(--color-secondary);
    
    &--small {
      padding: .5rem;
      min-width: 4rem;
      font-size: .75rem;
    }
  }

  &__error-msg {
    margin-top: 2px;
    color: var(--color-error);
    font-size: .625rem;
  }
}