.form {
  padding: 1.5rem 1rem;

  &__section {
    padding: 1rem 0;

    &__title {
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
      color: var(--color-secondary);
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: .625rem 1rem;
    border: 1px solid var(--color-form-field-border);

    &:focus-within {
      border-color: var(--color-secondary)
    }
  }

  &__input {
    &:focus-visible {
      outline: none;
    }
  }

  &__label {
    font-size: .875rem;
    margin-bottom: .3rem;
  }
}