.header {
  padding-top: 1.125rem;
  padding-bottom: .75rem;
  font-size: 1.5rem;
  background: var(--color-bg-header);
  box-shadow: 2px 2px 2px rgb(0 0 0 / 16%);

  &__title {
    margin: 0 2rem;
  }
}