.preview-section {
  margin: 2rem auto;
  width: fit-content;

  &__title {
    font-size: 1.5rem;
  }
}

.preview-wrapper {
  width: 90vw;
  height: 126.9vw;
  max-width: 800px;
  max-height: 1131px;
  margin: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, 
              rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.preview {
  display: grid;
  grid-template-columns: 1fr 2.6fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  padding: min(1.25rem, 2.2vw);
  font-size: min(.875rem, 1.5vw);
  background-color: var(--color-bg-preview);

  &-sidebar {
    grid-column: 1 / 2;
    padding: min(1.25rem, 2.2vw) 0;
    color: var(--color-preview-sidebar);;
    background: var(--color-bg-preview-sidebar);

    &__section {
      padding: min(1.25rem, 2.2vw);
      padding-right: 0;

      &__details {
        padding: min(1.25rem, 2.2vw);
      }

      &__title {
        padding-bottom: min(.75rem, 1.3vw);
        border-bottom: 1px solid currentColor;
      }
    }

    &__info {
      padding-bottom: min(.625rem, 1.12vw);
    }
  }

  &__main {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &__section {
    padding: min(1.25rem, 2.2vw);
    padding-right: 0;
    border-bottom: 1px solid var(--color-form-field-border);

    &__title {
      font-size: min(1rem, 1.7vw);
      font-weight: 700;
      color: var(--color-grey);
    }
  }

  &__info {
    display: flex;
    padding-top: min(1.25rem, 2.2vw);

    & > * {
      width: 50%;
    }

    &__title {
      font-size: min(1.0625rem, 1.17vw);
      font-weight: 700;
    }

    &__date {
      font-style: italic;
    }
  }

  &__section:last-child {
    border-bottom: none;
  }

  &__name {
    padding-bottom: min(1.25rem, 2.2vw);
    font-size: min(1.875rem, 3.3vw);
  }
}